<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/styles.css">


	<script type="text/javascript">
		$(document).ready(function(){
			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are already registered, login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body>

	<!-- <div class="col-md-4 col-md-offset-4">
		<div>
			<p>Register Form
			</p>
		</div>
		<div class="form-group">
			<form id="form1" method="post" class="registerStyle">
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="username" placeholder="Name" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<input type="submit" value="Register" class="btn btn-primary">
			</form>
		</div>
		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div> -->
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
						class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<div class="col-md-8">
						<div>
							<p>Register Form
							</p>
						</div>
						<div class="form-group">
							<form id="form1" method="post" class="registerStyle">
								<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
								<input type="text" name="username" placeholder="Name" required="" class="form-control"><br/>
								<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
								<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
								<input type="submit" value="Register" class="btn btn-primary">
							</form>
						</div>
						
						<div class="mssg bg-danger">
							<span id="check"></span>
						</div>
						<div>
							<span>Already Registered! <a href="/login">Login</a></span>
						</div>
						<div id="LangTable"><a href="/login" id="aa"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
			<!-- Copyright -->
			<div class="text-white mb-3 mb-md-0">
				Copyright © 2023. All rights reserved.
			</div>
			<!-- Copyright -->
		</div>
	</section>
</body>
</html>